@model WebApplication1.Storege.Entity.Group
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удалить библиотекаря</title>
    <style>
        body {
            background: #ee8ce9 /* Цвет фона */
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("Del", "Group", FormMethod.Post))
        {
            <input id="StudentId" name="StudentId" type="hidden" value="@Model.Id" />
            <lable> Библиотекарь: </lable>
            <input id="Number" type="text" name="Number" value="@Model.Number" /><br /><br />
            <input type="submit" value="del" />
        }
        @Html.ActionLink("Nazad", "ShowGroup", "Group")

    </div>
</body>
</html>
