@model IEnumerable<WebApplication1.Storege.Entity.Rating>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Показать автора</title>
    <style>
        body {
            background: #ee8ce9 /* Цвет фона */
        }
    </style>
</head>
<body>
    <h1>Автор</h1>
    <div>
        @foreach (var item in Model)
        {
            <label>автор</label>

            @item.Result
            <a href="/Rating/UpdateRating/@item.Id">Update</a>
            <a href="/Rating/DelRating/@item.Id">Del</a><br />

        }
        @using (Html.BeginForm("AddRating", "Rating"))
        {
            <div>
                <input type="submit" value="add" />
            </div>
        }
        @Html.ActionLink("Nazad", "ShowStudent", "Student")


    </div>
</body>
</html>
